[workspace]
members = [
    "waffledb-core",
    "waffledb-server",
    "waffledb-distributed",
]

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
